# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Python cache files
__pycache__/
*.pyc

# Virtual environment directories
venv/
.env/
.venv/

# Ansible temporary files
*.retry

# System files
.DS_Store

# Node modules (if using Node)
node_modules/
